<form [formGroup]="forgetPassword" (ngSubmit)="handleForgetPassword()">
  <app-husha-input-password
    formControlName="password"
    label="رمز عبور"
  ></app-husha-input-password>
  <app-husha-input-password
    formControlName="confirmPassword"
    label="تکرار رمز عبور">
    <div *ngIf="forgetPassword.hasError('passwordMatch')" class="d-flex align-items-center font-xs-regular">
      <span class="text-forbidden">{{forgetPassword.getError('passwordMatch').message}}</span>
    </div>
  </app-husha-input-password>
  <app-husha-button
    label="تغییر رمز عبور"
  ></app-husha-button>
</form>
