<form [formGroup]="forgetPassword" (ngSubmit)="handleForgetPassword()">
  <app-custom-input-password
    formControlName="password"
    label="رمز عبور"
  ></app-custom-input-password>
  <app-custom-input-password
    formControlName="confirmPassword"
    label="تکرار رمز عبور">
    <div *ngIf="forgetPassword.hasError('passwordMatch')" class="d-flex align-items-center font-xs-regular">
      <span class="text-forbidden">{{forgetPassword.getError('passwordMatch').message}}</span>
    </div>
  </app-custom-input-password>
  <app-custom-button
    label="تغییر رمز عبور"
  ></app-custom-button>
</form>
