<app-custom-card>
  <div [class]="class">
    <app-grid-actions
      #gridActions
      [gridHistory]="gridHistory"
      [accessFormActions]="accessFormActions"
      [selectedRow]="selectedRow"
      (clickHistory)="handleClickHistory($event)"
      (onAction)="handleOnAction($event)"
    ></app-grid-actions>

    <ag-grid-angular
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
      (rowDoubleClicked)="handleRowDbClicked($event)"
      (rowClicked)="handleRowClicked($event)"
      (paginationChanged)="selectedRow = null"
      (gridReady)="handleGirdReady($event)"
      (sortChanged)="handleSortChange($event)"
    ></ag-grid-angular>

  </div>
</app-custom-card>
