::ng-deep .p-multiselect.p-component {

  .p-multiselect-header {

    .p-multiselect-close {
      margin-left: unset;
      margin-right: 0.5rem;
    }

    .p-checkbox {
      margin-left: 0.5rem;
      margin-right: unset;
    }
  }

}
