<form [formGroup]="form" class="flex align-items-center">
  <div class="col-3">
    <input type="file" formControlName="file" appReadExcel (onSheetsReady)="handleSheets($event)" #readExcel>
  </div>
  <div class="col-3">
    <app-custom-dropdown
      formControlName="sheets"
      label="شیت مورد نظر را انتخاب نمایید"
      [options]="sheetOptions"
    ></app-custom-dropdown>
  </div>
</form>

<app-dynamic-form #dynamicForm [model]="[model]"></app-dynamic-form>

<div class="flex flex-row-reverse mb-3">
  <app-custom-button
    (onclick)="handleClick()"
    [disabled]="dynamicForm.dynamicFormGroup.invalid"
    label="ارسال"
    icon="pi pi-upload"
  ></app-custom-button>
</div>

<ag-grid-angular
  style="width:100%;height: 310px"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [rowData]="rowData"
  [enableRtl]="true"
  [gridOptions]="gridOptions"
  [pagination]="true"
  [paginationPageSize]="5"
></ag-grid-angular>
