<div class="flex justify-content-start">

  <div [cdkMenuTriggerFor]="customerMenu.menu">
    <div class="flex align-items-center justify-content-start ml-3">
      <i class="pi pi-user ml-2"></i>
      <span class="text-1 font-sm-bold">{{selectedCustomer ? selectedCustomer.label : 'انتخاب مشتری'}}</span>
    </div>
  </div>
  <app-cascade-menu #customerMenu [items]="customerMenuItems" (onSelectMenu)="handleSelectCustomer($event)"></app-cascade-menu>

  <div [cdkMenuTriggerFor]="serviceMenu.menu">
    <div class="flex align-items-center justify-content-start ml-3">
      <i class="pi pi-cog cog ml-2"></i>
      <span class="text-1 font-sm-bold">{{selectedService ? selectedService.title : 'انتخاب سرویس'}}</span>
    </div>
  </div>
  <app-cascade-menu #serviceMenu [items]="serviceMenuItems" (onSelectMenu)="handleSelectService($event)"></app-cascade-menu>

  <div [cdkMenuTriggerFor]="unitMenu.menu">
    <div class="flex align-items-center justify-content-start ml-3">
      <i class="pi pi-building cog ml-2"></i>
      <span class="text-1 font-sm-bold">{{selectedUnit ? selectedUnit.label : 'انتخاب مرکز'}}</span>
    </div>
  </div>
  <app-cascade-menu #unitMenu [items]="unitMenuItems" (onSelectMenu)="handleSelectUnit($event)"></app-cascade-menu>

  <div [cdkMenuTriggerFor]="periodMenu.menu">
    <div class="flex align-items-center justify-content-start ml-3">
      <i class="pi pi-calendar cog ml-2"></i>
      <span class="text-1 font-sm-bold">{{selectedPeriod ? selectedPeriod.label : 'انتخاب دوره'}}</span>
    </div>
  </div>
  <app-cascade-menu #periodMenu [items]="periodMenuItems" (onSelectMenu)="handleSelectPeriod($event)"></app-cascade-menu>

</div>
