<form [formGroup]="mCustomersForm" class="d-flex align-items-center justify-content-between">

  <app-husha-dropdown
    [ngStyle]="{'width':'300px'}"
    class="me-2"
    label="مشتریان من"
    formControlName="parentCustomers"
    [options]="parentCustomers"
  ></app-husha-dropdown>

  <app-husha-dropdown
    *ngIf="childCustomers.length"
    [ngStyle]="{'width':'300px'}"
    class="me-2"
    label="مشتریان من"
    formControlName="childCustomers"
    [options]="childCustomers"
  ></app-husha-dropdown>

  <app-husha-dropdown
    [ngStyle]="{'width':'300px'}"
    class="me-2"
    label="سرویس های من"
    formControlName="services"
  ></app-husha-dropdown>

  <app-husha-dropdown
    [ngStyle]="{'width':'300px'}"
    class="me-2"
    label="سال مالی"
    formControlName="units"
  ></app-husha-dropdown>

</form>
