<form [formGroup]="advanceSearchForm" class="flex align-items-center">
  <div class="col-3">
    <app-custom-dropdown
      label="فیلد مورد جستجو"
      formControlName="key"
      [options]="keyOptions"
    ></app-custom-dropdown>
  </div>
  <div class="col-3">
    <app-custom-dropdown
      label="شرط"
      formControlName="operation"
      [options]="criteriaOptions"
    ></app-custom-dropdown>
  </div>
  <div class="col-3" *ngIf="showValueInput">

    <ng-container [ngSwitch]="selectedInputFieldType">

      <app-custom-switch
        *ngSwitchCase="INPUT_FIELD_TYPE.SWITCH"
        label="مقدار"
        formControlName="value"
      ></app-custom-switch>

      <app-custom-multi-select
        *ngSwitchCase="INPUT_FIELD_TYPE.DROP_DOWN"
        label="مقدار"
        formControlName="value"
        [options]="dropDownValueOptions"
        [returnObject]="true"
      ></app-custom-multi-select>

      <app-custom-lookup-form
        *ngSwitchCase="INPUT_FIELD_TYPE.LOOK_UP_WITH_FORM"
        formControlName="value"
        [returnObject]="true"
        [form]="form"
        [field]="filed"
      ></app-custom-lookup-form>

      <app-custom-jalali-date-picker
        *ngSwitchCase="INPUT_FIELD_TYPE.JALALI_DATE_PICKER"
        formControlName="value"
      ></app-custom-jalali-date-picker>

      <app-custom-input-text
        *ngSwitchDefault
        label="مقدار"
        formControlName="value"
      ></app-custom-input-text>

    </ng-container>

  </div>
  <app-custom-button
    type="button"
    [icon]="icon"
    style="margin-bottom: 21px"
    (onClick)="handleAddCriteria()"
    [disabled]="advanceSearchForm.invalid"
  ></app-custom-button>
</form>
