:host ::ng-deep {
  .otp-input {
    width: 38px !important;
    font-size: 18px;
    height: 38px !important;
    &.otp-valid{
      border: 0.15rem solid black !important
    }
    &.otp-invalid{
      border: 0.15rem solid red !important;
    }
    &:not(:last-child) {
      margin-right: 16px !important;
    }
    &:focus-visible {
      outline: unset;
      //border: 1px solid $primary !important;
      //background-color: white;
    }

  }

}
