@import "src/scss/variabels";

:host ::ng-deep {
  .otp-input {
    width: 45px !important;
    height: 45px !important;

    &.otp-valid {
      border: 0.15rem solid $primary
    }

    &.otp-invalid {
      border: 0.15rem solid $color-2
    }

    &:not(:last-child) {
      margin-right: 16px !important;
    }

    &:focus-visible {
      outline: unset;
    }

  }

}
