<form [formGroup]="loginForm" (ngSubmit)="handLogin()">
  <app-custom-input-text
    label="نام کاربری"
    formControlName="username"
  ></app-custom-input-text>
  <app-custom-input-password
    class="mb-2"
    label="رمز عبور"
    formControlName="password"
  ></app-custom-input-password>

  <app-captcha></app-captcha>

  <app-custom-button
    class="mb-3"
    [disabled]="loginForm.invalid"
    label="ورود"
  ></app-custom-button>

  <span routerLink="/auth/phone" class="cursor-pointer text-primary font-sm-regular">رمز عبور خود را فراموش کرده اید ؟</span>

</form>
