::ng-deep .p-dialog.p-confirm-dialog {
  .p-dialog-footer {
    text-align: left;
  }

  .p-confirm-dialog-message {
    margin-right: 0.5rem;
  }
}

::ng-deep .p-float-label > label {
  left: 0;
  right: 0.75rem;
}
