<app-general-form [model]="[model]" (onSubmit)="handleSubmitForm($event)"></app-general-form>


<div class="mt-3">
  <button>ایجاد</button>
  <button (click)="handleUpdateAttachment()">ویرایش</button>
  <button (click)="handleDeleteAttachment()">حذف</button>
  <button (click)="handleDeleteAllAttachment()">حذف همه</button>
  <ag-grid-angular
    style="width:100%;height: 310px"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [enableRtl]="true"
    [gridOptions]="gridOptions"
    [pagination]="true"
    [paginationPageSize]="5"
    (rowSelected)="handleRowSelected($event)"
  ></ag-grid-angular>
</div>
