<app-criteria-builder
  [form]="dynamicDialogConfig.data.form"
  [colDefs]="dynamicDialogConfig.data.colDefs"
  (onAddCriteria)="handleAddCriteria($event)"
></app-criteria-builder>

<div style="height: 250px; border: 1px solid #ced4da;overflow-y: auto;border-radius: 8px;padding: 20px">
  <div *ngFor="let criteria of criteriaList;let last = last" class="flex-grow-1">
    <div class="flex align-items-center justify-content-start text-1 font-sm-regular">
      <span>{{criteria.keyTitle}}</span>
      <span class="mx-1">{{criteria.operation|criteriaOperation}}</span>
      <span *ngIf="criteria.valueLabel">{{ criteria.valueLabel}} باشد</span>
      <i class="pi pi-times cursor-pointer mr-auto" style="font-size: 0.75rem;color:red"
         (click)="removeCriteria(criteria.id)"></i>
    </div>
    <p-divider *ngIf="!last"></p-divider>
  </div>
</div>

<app-dynamic-dialog-actions
  [disabled]="!(!!criteriaList.length)"
  (confirmed)="ref.close(this.criteriaList)"
  (closed)="ref.close()"
></app-dynamic-dialog-actions>

